.component-categories {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 30px 30px 10px 30px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        transform: scale(1.05);
        text-decoration: none;
    }

    .categories-image {
        width: 70px;
        height: 70px;
        background-color: #cbcbcb;
        padding: 15px;
        border-radius: 100px;
    }

    .categories-text {
        color: #0c0d36;
        text-align: center;
        font-style: normal;
        font-size: 18px;
        font-weight: normal;
        margin-top: 12px;
    }
}
